{% extends 'web/partials/base.html' %}
{% load static %}
{% block content %}

    <!-- breadcrumb area -->
    <div class="breadcrumb-area breadcrumb-padding bg-img" style="background-image:url({% static 'web/images/bg/bg-2.jpg' %})">
        <div class="container">
            <div class="breadcrumb-content text-center">
                <h2>404 Page</h2>
                <ul>
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li><i class="fa fa-angle-right"></i></li>
                    <li>404 Page</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Project area -->
    <div class="section section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 ms-auto me-auto">
                    <div class="error-content text-center">
                        <img src="{% static 'web/images/banner/404error.png' %}" alt="">
                        <h1 class="title">Oops ! That Page Can't Be Found.</h1>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                        <div class="error-btn">
                            <a href="{% url 'index' %}" class="btn btn-primary btn-hover-dark">BACK TO HOME</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

  {% endblock %}