{% extends 'web/partials/base.html' %}
{% load static %}
{% block content %}

    <!-- breadcrumb area -->
    <div class="breadcrumb-area breadcrumb-padding bg-img" style="background-image:url({% static 'web/images/bg/bg-2.jpg' %})">
        <div class="container">
            <div class="breadcrumb-content text-center">
                <h2>Our Project</h2>
                <ul>
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li><i class="fa fa-angle-right"></i></li>
                    <li>Project 2 column</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Project area -->
    <div class="section section-padding">
        <div class="container">
            <div class="project-menu-style project-menu-active isotope-btn-add-active mb-6">
                <button class="active btn-project" data-filter="*">All</button>
                <button class="btn-project" data-filter=".cat1">Interior</button>
                <button class="btn-project" data-filter=".cat2">Architecture</button>
                <button class="btn-project" data-filter=".cat3">Design</button>
                <button class="btn-project" data-filter=".cat4">Building</button>
            </div>
            <div class="row row-cols-lg-2 row-cols-md-2 row-cols-sm-2 row-cols-1 mb-n6 grid">
                <div class="col mb-6 grid-item cat2 cat4">
                    <div class="project-wrap">
                        <div class="project-inner">
                            <a class="thumbnail" href="{% url 'projectdetails' %}">
                                <img src="{% static 'web/images/project/project-1.jpg' %}" alt="Blog Image">
                            </a>
                            <div class="project-content">
                                <span class="category"><a href="#">Building</a></span>
                                <h3 class="title"><a href="{% url 'projectdetails' %}">Living Room Interior Design</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mb-6 grid-item cat1">
                    <div class="project-wrap">
                        <div class="project-inner">
                            <a class="thumbnail" href="{% url 'projectdetails' %}">
                                <img src="{% static 'web/images/project/project-16.jpg' %}" alt="Blog Image">
                            </a>
                            <div class="project-content">
                                <span class="category"><a href="#">Interior</a></span>
                                <h3 class="title"><a href="{% url 'projectdetails' %}">Restaurant Interior Design</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mb-6 grid-item cat4">
                    <div class="project-wrap">
                        <div class="project-inner">
                            <a class="thumbnail" href="{% url 'projectdetails' %}">
                                <img src="{% static 'web/images/project/project-17.jpg' %}" alt="Blog Image">
                            </a>
                            <div class="project-content">
                                <span class="category"><a href="#">Architecture</a></span>
                                <h3 class="title"><a href="{% url 'projectdetails' %}">Living Room Remodeling</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mb-6 grid-item cat3 cat1">
                    <div class="project-wrap">
                        <div class="project-inner">
                            <a class="thumbnail" href="{% url 'projectdetails' %}">
                                <img src="{% static 'web/images/project/project-3.jpg' %}" alt="Blog Image">
                            </a>
                            <div class="project-content">
                                <span class="category"><a href="#">Building</a></span>
                                <h3 class="title"><a href="{% url 'projectdetails' %}">Bathroom Redesign</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mb-6 grid-item cat1 cat3">
                    <div class="project-wrap">
                        <div class="project-inner">
                            <a class="thumbnail" href="{% url 'projectdetails' %}">
                                <img src="{% static 'web/images/project/project-5.jpg' %}" alt="Blog Image">
                            </a>
                            <div class="project-content">
                                <span class="category"><a href="#">Architecture</a></span>
                                <h3 class="title"><a href="{% url 'projectdetails' %}">Wall Mural Painting</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mb-6 grid-item cat2 cat4">
                    <div class="project-wrap">
                        <div class="project-inner">
                            <a class="thumbnail" href="{% url 'projectdetails' %}">
                                <img src="{% static 'web/images/project/project-7.jpg' %}" alt="Blog Image">
                            </a>
                            <div class="project-content">
                                <span class="category"><a href="#">Interior</a></span>
                                <h3 class="title"><a href="{% url 'projectdetails' %}">Window Glass Replacement</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pagination-style mt-6 mt-md-8 mt-lg-10">
                <ul>
                    <li><a class="active" href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a class="next" href="#"><i class="fa fa-angle-double-right "></i></a></li>
                </ul>
            </div>
        </div>
    </div>
   {% endblock %}