{% extends 'web/partials/base.html' %}
{% load static %}
{% block content %}

    <!-- breadcrumb area -->
    <div class="breadcrumb-area breadcrumb-padding bg-img" style="background-image:url({% static 'web/images/bg/bg-2.jpg' %})">
        <div class="container">
            <div class="breadcrumb-content text-center">
                <h2>Our Services</h2>
                <ul>
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li><i class="fa fa-angle-right"></i></li>
                    <li>Services</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Project area -->
    <div class="section section-padding">
        <div class="container">
            <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-2 row-cols-1 mb-n6">
                <div class="col mb-6">
                    <div class="service text-center">
                        <img src="{% static 'web/images/service/service-1.jpg' %}" alt="banner">
                        <div class="service-content-wrap">
                            <div class="service-content">
                                <div class="service-icon">
                                    <i class="dlicon design_compass"></i>
                                </div>
                                <h3 class="title"><a href="{% url 'servicedetails' %}">Wall Mural Painting</a></h3>
                                <p>Quisque at justo sagittis, semper lacus a, iaculis tellus usce</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mb-6">
                    <div class="service text-center">
                        <img src="{% static 'web/images/service/service-2.jpg' %}" alt="banner">
                        <div class="service-content-wrap">
                            <div class="service-content">
                                <div class="service-icon">
                                    <i class="dlicon furniture_light"></i>
                                </div>
                                <h3 class="title"><a href="{% url 'servicedetails' %}">Interior Design</a></h3>
                                <p>Quisque at justo sagittis, semper lacus a, iaculis tellus usce</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mb-6">
                    <div class="service text-center">
                        <img src="{% static 'web/images/service/service-3.jpg' %}" alt="banner">
                        <div class="service-content-wrap">
                            <div class="service-content">
                                <div class="service-icon">
                                    <i class="dlicon design_design"></i>
                                </div>
                                <h3 class="title"><a href="{% url 'servicedetails' %}">House Repair</a></h3>
                                <p>Quisque at justo sagittis, semper lacus a, iaculis tellus usce</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mb-6">
                    <div class="service text-center">
                        <img src="{% static 'web/images/service/service-4.jpg' %}" alt="banner">
                        <div class="service-content-wrap">
                            <div class="service-content">
                                <div class="service-icon">
                                    <i class="dlicon tech-2_firewall"></i>
                                </div>
                                <h3 class="title"><a href="{% url 'servicedetails' %}">Carpet Installation</a> </h3>
                                <p>Quisque at justo sagittis, semper lacus a, iaculis tellus usce</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mb-6">
                    <div class="service text-center">
                        <img src="{% static 'web/images/service/service-5.jpg' %}" alt="banner">
                        <div class="service-content-wrap">
                            <div class="service-content">
                                <div class="service-icon">
                                    <i class="dlicon furniture_mixer"></i>
                                </div>
                                <h3 class="title"><a href="{% url 'servicedetails' %}">Window Glass Replacement</a></h3>
                                <p>Quisque at justo sagittis, semper lacus a, iaculis tellus usce</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mb-6">
                    <div class="service text-center">
                        <img src="{% static 'web/images/service/service-6.jpg' %}" alt="banner">
                        <div class="service-content-wrap">
                            <div class="service-content">
                                <div class="service-icon">
                                    <i class="dlicon transportation_bus"></i>
                                </div>
                                <h3 class="title"><a href="{% url 'servicedetails' %}">Bedroom Remodeling</a> </h3>
                                <p>Quisque at justo sagittis, semper lacus a, iaculis tellus usce</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pagination-style mt-6 mt-md-8 mt-lg-10">
                <ul>
                    <li><a class="active" href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a class="next" href="#"><i class="fa fa-angle-double-right "></i></a></li>
                </ul>
            </div>
        </div>
    </div>

    {% endblock %}