{% extends 'web/partials/base.html' %}
{% load static %}
{% block content %}

<!-- breadcrumb area -->
<div class="breadcrumb-area breadcrumb-padding bg-img"
    style="background-image:url({% static 'web/images/bg/bg-2.jpg' %})">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <h2>Our About</h2>
            <ul>
                <!-- <li><a href="{% url 'index' %}">Home</a></li>
                <li><i class="fa fa-angle-right"></i></li>
                <li>About Us</li> -->
                <li>Welcome to the Wartood – A Legacy of Excellence in Interior and Exterior Work</li>
            </ul>
        </div>
    </div>
</div>

<!-- About area -->
<div class="section section-padding">
    <div class="container">
        <div class="row row-cols-lg-2 row-cols-1 mb-n6">
            <div class="col align-self-center mb-6">
                <div class="about-content">
                    <h2 class="title">Welcome to <span>Wartood</span></h2>
                    <p>We are passionate about what we do because we understand that the spaces and locations we create
                        are used by our customers for living, working, playing, and inhabiting. This is our way of
                        leaving a lasting impression as interior designers.</p>
                    <div class="working-content">
                        <h3 class="title ms-0" style="color:#a64b01;font-size:30px;">Who We Are</h3>
                        <p>Wartood is a renowned and respected union representing Interior and Exterior workers with
                            over two decades of experience. Our union was founded on the principles of solidarity,
                            craftsmanship, and advocating for the rights and welfare of Interior and Exterior workers
                            across the industry.</p>
                    </div>
                </div>
            </div>
            <div class="col mb-6">
                <div class="about-banner">
                    <img src="{% static 'web/images/banner/banner-2.png' %}" alt="banner">
                </div>
            </div>
        </div>
        <br>
        <div class="row mt-5">
            <div class="col-sm-12 col-lg-6">
                <h3 class="title" style="color:#a64b01;font-size:30px;">Our History</h3>
                <p>Our union has a rich history of supporting and advancing the interests of Interior and Exterior
                    workers. Over the years, we've successfully negotiated fair wages, benefits, and improved working
                    conditions for our members. Our history is a testament to the power of collective action and a
                    dedication to upholding the highest industry standards.</p>
            </div>
            <div class="col-sm-12 col-lg-6">
                <h3 class="title" style="color:#a64b01;font-size:30px;">Our Mission</h3>
                <p>Our mission is to empower and unite Interior and Exterior workers. We are committed to
                    promoting fair labor practices, and enhancing the skills and well-being of our members. We
                    believe that by working together, we can create a better future for all Interior and
                    Exterior workers.</p>
            </div>
        </div>

        <div class="about-content mt-4">
            <h2 class="about-h">Why Choose <span style="color:#a64b01;">Wartood</span></h2>
            <div class="row mt-5">
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title" style="color:#a64b01;font-size:30px;">Advocacy</h5>
                            <p class="card-text">We are dedicated to advocating for the rights and needs of Interior and
                                Exterior workers, both
                                within our industry and in the broader labor movement.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title" style="color:#a64b01;font-size:30px;">Skilled Workforce</h5>
                            <p class="card-text">Our dedicated team of highly skilled professionals takes immense pride
                                in their work, consistently delivering exceptional results.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title" style="color:#a64b01;font-size:30px;">Community</h5>
                            <p class="card-text">We nurture a close-knit community, fostering camaraderie among our
                                members, because together, we find strength.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Funfact area -->
<div class="section section-padding bg-img overly-style-1 opacity-point-7"
    style="background-image:url({% static 'web/images/bg/bg-1.jpg' %})">
    <div class="container">
        <div class="row row-cols-lg-4 row-cols-md-2 row-cols-sm-2 row-cols-1 mb-n6">
            <div class="col mb-8">
                <div class="funfact-2 text-center">
                    <i class="dlicon travel_bag"></i>
                    <span class="odometer count-style-2" data-count-to="594"></span>
                    <h4 class="title">Projects Worked</h4>
                </div>
            </div>
            <div class="col mb-8">
                <div class="funfact-2 text-center">
                    <i class="dlicon users_man-23"></i>
                    <span class="odometer count-style-2" data-count-to="20"></span>
                    <h4 class="title">Expert Workers</h4>
                </div>
            </div>
            <div class="col mb-8">
                <div class="funfact-2 text-center">
                    <i class="dlicon emoticons_smile"></i>
                    <span class="odometer count-style-2" data-count-to="594"></span>
                    <h4 class="title">Happy Clients</h4>
                </div>
            </div>
            <div class="col mb-8">
                <div class="funfact-2 text-center">
                    <i class="dlicon tech-2_firewall"></i>
                    <span class="odometer count-style-2" data-count-to="5"></span>
                    <h4 class="title">Upcomming Project</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team  area -->



<!-- Testimonial area -->
<div class="section section-padding bg-img over-style-2 opacity-point-7">
    <div class="container">
        <div class="section-title-2 text-center mb-lg-9 mb-md-7 mb-5">
            <h2 class="here white">WHAT <span> CLIENTS</span> SAY?</h2>
            <p class="add">Wartood's team balanced style and functionality perfectly in our home redesign. They're the
                go-to for anyone who wants a stunning yet practical living space.</p>
        </div>

        <div class="testimonial-active swiper">
            <div class="swiper-wrapper">
                {% for test in testimonial %}
                <div class="swiper-slide">
                    <div class="single-testimonial-wrapper">
                        <div class="testimonial-img-title">
                            <div class="testimonial-img">
                                <img src="{{test.image.url}}"style="border-radius:50px;" alt="">
                            </div>
                            <div class="testimonial-title">
                                <h4>{{test.name}}</h4>
                                <!-- <span> Customer Relations Manager</span> -->
                            </div>
                        </div>
                        <p> "{{test.content}}"</p>
                        <div class="quote">
                            <i class="fa fa-quote-left"></i>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="container mb-5 p-5">
    <div class="card text-center">
        <div class="card-body">
            <h5 class="card-title">Join Us</h5>
            <p class="card-text">If you are an Interior and Exterior worker looking to enhance your career, connect with
                a supportive community, and ensure your voice is heard in the industry, consider joining Wartood. We are
                dedicated to fostering a strong sense of professional growth and collaboration among our members.
                Whether you are a seasoned expert or just starting your journey in the field, Wartood offers a platform
                for networking, skill development, and staying updated with industry trends. We welcome new members who
                share our commitment to excellence.</p>
        </div>
    </div>
</div>



{% endblock %}